.create_edit_recipe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.heading{
    order: 1;
    margin-bottom: 10px;
}

.recipe_content{
    order: 2;
    width: 100%;
}

.send{
    order: 3;
    width: fit-content;
    position: static;
}