body {
  margin: auto;
  max-width: 50em;
  font-family: sans-serif;
  background-color: lightblue;
}

.recipe {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.hidden {
  position: absolute;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.review {
  border: 2px solid black;
  margin: 1em;
  padding: 0.2em 0.5em;
}

.info {
  border: 2px solid black;
  margin: 1em;
  padding: 0.5em;
  background-color: blue;
  color: white;
}

.ingredients_syle {
  margin-bottom: 3px;
}

.ingredients_style label {
    display: inline-block;
    width: 30px;
    text-align: right;
}

#create_edit_ingredients {
    scroll-margin-top: 375px;
}