<!DOCTYPE html>
<html>

<head>
  <title>Reseptin muokkaus</title>
</head>

<body>
    <h1>Reseptin muokkaus</h1>
  <form method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" value="{{ title }}" maxlength="50" required/>
    </p> 
    Reseptin ainekset: <br />
    {% for ingredient in ingredients %}
        <div>
            <input type="text" name="ingredients" value="{{ ingredient }}" maxlength="50" required/>
            <button type="submit" name="remove" value="{{ loop.index0 }}" formnovalidate> - </button>
        </div>
    {% endfor %} 
    <button type="submit" name="add" formnovalidate> Uusi aines </button>
    <p>
    Valmistusohje:</br>
    <textarea name="cooking_steps" rows="8" cols="60" maxlength="1000" required>{{ cooking_steps }}</textarea>
    </p>
    <input type="hidden" name="recipe_id" value="{{ recipe_id }}"/>
    <button type="submit" formaction="/update_recipe" name="send">Päivitä resepti</button>
</form>
</body>

</html>
