<!DOCTYPE html>
<html>

<head>
  <title>Reseptisovellus</title>
</head>

<body>
  <h1>Reseptisovellus</h1>
  {% if session.username %}
  <p>
    <a href="/logout"> Kirjaudu ulos</a>
  </p>
  <p>
    <a href="/new_recipe"> Uusi resepti</a>
  </p>
    <p>
    <a href="/user/{{ session.user_id }}"> Omat Reseptit</a>
  </p>

  {% else %}
    <p>
    <a href="/login"> Kirjaudu sisään</a>
    <a href="/register"> luo tunnus</a>
    </p>
  {% endif %}
    <p>
      <a href="/search_recipe">Etsi resepti</a>
    </p>
    <h2>Reseptit</h2>
  <ul>
    {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a></li>
    {% endfor %}
  </ul>
</body>

</html>
