{% extends "layout.html" %}

{% block title %}Reseptisovellus{% endblock %}

{% block content %}
<h2>Reseptit</h2>

<ul>
  {% for recipe in recipes %}
    <div class="section">
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a> <br />
    Kirjoittaja: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> <br />
    {% if recipe.review_count > 0 %}
      Arvosana: {{ recipe.rating }}/5 ({{ recipe.review_count }} arvostelua)
    {% else %}
      (ei arvosteluja)
    {% endif %}
    </div>
  {% endfor %}
</ul>
{% if recipe_count > 10 %}
<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% endif %}
{% endblock %}