{% extends "layout.html" %}

{% block title %}Uusi resepti{% endblock %}

{% block content %}
<h2>Uusi resepti</h2>

<form action="{{ request.path }}#create_edit_ingredients" method="post">
  <button type="submit" formaction="/create_recipe" class="hidden"></button>
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" name="title" id="title" value="{{ session.get('title', '') }}"
    maxlength="50" required />
  </p>
  <p>
    <label for="prep_time">Valmistusaika:</label> </br>
    <input type="text" name="prep_time" id="prep_time"
    value="{{ session.get('prep_time', '') }}" size="8" maxlength=3
    pattern="^[1-9][0-9]{0,2}$" required /> min
  </p>
  Reseptin ainekset: <br />
  {% for ingredient in ingredients %}
      <div class="ingredients_style">
        <label for="{{ loop.index0+1 }}">{{ loop.index0 +1}}. </label>
        <input type="text" name="ingredients" id="{{ loop.index0+1 }}"
        value="{{ ingredient }}" maxlength="50" required />
        <button type="submit" name="remove" value="{{ loop.index0 }}"
        formnovalidate> Poista </button>
      </div>
  {% endfor %}
  <div id="create_edit_ingredients">
  <button type="submit" name="add" formnovalidate> Lisää aines </button>
  </div>
  <p>
  <label for="cooking_steps">Valmistusohje:</label><br />
  <textarea name="cooking_steps" id="cooking_steps" rows="8" cols="60"
  maxlength="1000" required>{{ session.get('cooking_steps', '') }}</textarea>
  </p>
  {% for class in classes %}
  <p>
    <label for="{{class}}">{{ class }}:</label> <br />
    <select name="{{class}}" id="{{class}}">
      <option value="">(valitse)</option>
    {% for option in classes[class] %}
      <option value="{{option}}" {% if session.get(class) == option %}
      selected {% endif %}>{{ option }}</option>
    {% endfor %}
    </select>
  </p>
  {% endfor %}
  <button type="submit" formaction="/create_recipe" name="send">Julkaise resepti</button>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
</form>
{% endblock %}
