<!DOCTYPE html>
<html>

<head>
  <title>Arvostele</title>
</head>
<body>
  <h1> {{recipe.title}} </h1>
  <h2> Arvostelu</h2>
  <form action="/post_review" method="post">
    <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
    <p>
    Kommentti: <br />
    <textarea name="comment" rows="8" cols="60" maxlength="1000"></textarea>
    </p>
    <p>
    Arvosana: </br>
      <input type="text" name="grade" size="8" maxlength=1 pattern="^[1-5]$" required />/5
    </p>
    <button type="submit">Lähetä</button>
    <p>
      <a href="/recipe/{{ recipe.id }}">Takaisin</a>
    </p>
  </form>
</body>

</html>
