{% extends "layout.html" %}

{% block title %}Etsi resepti{% endblock %}

{% block content %}
<h2>Etsi resepti</h2>
<form action="/search_recipe" method="get">
  <p>
    <label for="text">Hakusana:</label>
    <input type="text" id="text" name="query" value="{{ query }}">
  </p>
  <button type="submit">Lähetä</button>
</form>

{% if query %}
  <h3>Tulokset</h3>

<ul>
  {% for recipe in results %}
    <div class="section">
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a> <br />
    Kirjoittaja: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a> <br />
    {% if recipe.rating %}
      Arvosana: {{ recipe.rating }}/5
    {% else %}
      (ei arvosteluja)
    {% endif %}
    </div>
  {% endfor %}
</ul>
<p>
  <a href="/search_recipe/{{ page - 1 }}?query={{query|urlencode}}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
  <a href="/search_recipe/{{ page + 1 }}?query={{query|urlencode}}">&gt;&gt;</a>
</p>
<hr />
{% endif %}
{% endblock %}
