{% extends "layout.html" %}

{% block title %}{ recipe.title } arvostelut{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>

{% if not reviews %}
  Reseptillä ei ole arvosteluja.
{% else %}
  <p>
  {% if reviews | count == 1 %}
    Reseptillä on 1 arvostelu.
  {% else %}
    Reseptillä on {{ reviews | count }} arvostelua.
  {% endif %}
  </p>
  <h3> Arvostelut </h3>
  <ul>
    {% for review in reviews %}
    <div class="review">
      <a href="/user/{{ review.user_id }}">{{ review.username }}</a> ({{ review.sent_at }})<br><br>
        {% if review.comment %}
          {{ review.comment }}<br>
        {% endif %}
        <br>Arvosana: {{ review.grade }}/5
    </div>
    {% endfor %}
  </ul>
{% endif %}
<p>
  <a href="/recipe/{{ recipe.id }}">Takaisin</a>
</p>
{% endblock %}