{% extends "layout.html" %}

{% block title %}{{ recipe.title }} arvostelut{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>

{% if review_count == 0 %}
  Reseptillä ei ole arvosteluja.
{% else %}
  <p>
  {% if review_count == 1 %}
    Reseptillä on 1 arvostelu.
  {% else %}
    Reseptillä on {{ review_count }} arvostelua.
  {% endif %}
  </p>
  <h3> Arvostelut </h3>
  <ul>
    {% for review in reviews %}
    <div class="section">
      <div style="margin-bottom: -3px;">
        <a href="/user/{{ review.user_id }}">{{ review.username }}</a> ({{ review.sent_at }})
      </div>
      <div class="rating_stars" style="margin-left: -3px;">
        {% for _ in range(review.rating) %}★{% endfor %}
      </div>
      {% if review.comment %}
        <div
          style="margin-top: 5px;">{{ review.comment | show_lines }}
        </div>
      {% endif %}
    </div>
    {% endfor %}
  </ul>
{% endif %}
{% if review_count > 10 %}
  <p>
    <a href="/reviews/{{ recipe.id }}/{{ page - 1 }}">&lt;&lt;</a>
    Sivu {{ page }}/{{ page_count }}
    <a href="/reviews/{{ recipe.id }}/{{ page + 1 }}">&gt;&gt;</a>
  </p>
  <hr />
{% endif %}
<p>
  <a href="/recipe/{{ recipe.id }}">Takaisin</a>
</p>
{% endblock %}