{% extends "layout.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<p>
<h2>{{ recipe.title }}
  {% if recipe.rating %}
    (<div class="rating_stars">★</div>
    {{ recipe.rating }}/5)
  {% endif %}
</h2>
</p>

{% if session.user_id == recipe.user_id %}
<p>
  <a href="/edit_recipe/{{ recipe.id }}">Muokkaa</a> |
  <a href="/remove_recipe/{{ recipe.id }}">Poista</a>
</p>
{% endif %}
<div class="section">
  Valmistusaika: {{ recipe.prep_time }} min
{% if classes %}
  <br>
  {% for class in classes %}
    {{ class.title }}: {{ class.value }} <br>
  {% endfor %}
{% endif %}
</div>
<div class="section">
  <h3>Ainekset</h3>
  <ul>
    {% for ingredient in recipe.ingredients.split(";") %}
      <li>{{ ingredient }}</li>
    {% endfor %}
  </ul>
</div>
<div class="section">
    <h3>Ohje</h3>
    {{ recipe.cooking_steps | show_lines }}
</div>
<div class="section">
  Kirjoittaja: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
</div>
<p>
  {% if session.user_id and session.user_id != recipe.user_id %}
    {% if my_review %}
    <hr />
    <h3>Arvostelu</h3>
    <div class="section">
      {% if my_review.comment %}
        <p style="margin-bottom: 0;">{{ my_review.comment | show_lines }}</p>
      {% endif %}
      Arvosana:
      <div class="rating_stars">
        {% for _ in range(my_review.rating) %}★{% endfor %}
      </div>
    </div>
    <a href="/remove_review/{{recipe.id}}">Poista</a>
    {% else %}
    <hr />
    <h3>Arvostele</h3>
      <form action="/create_review" method="post">
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
        <p>
          <label for="comment">Kommentti:</label> <br />
          <textarea name="comment" id="comment" rows="8" cols="60" maxlength="1000"></textarea>
        </p>
        Arvosana:
          <div class="rating">
            <input type="radio" id="star5" name="star" value="5" required><label for="star5">★</label>
            <input type="radio" id="star4" name="star" value="4" required><label for="star4">★</label>
            <input type="radio" id="star3" name="star" value="3" required><label for="star3">★</label>
            <input type="radio" id="star2" name="star" value="2" required><label for="star2">★</label>
            <input type="radio" id="star1" name="star" value="1" required><label for="star1">★</label>
        </div>
        <button type="submit">Lähetä</button>
        <p>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
      </form>
    {% endif %}
  {% endif %}
</p>
<p>
  <hr />
  <a href="/reviews/{{ recipe.id }}">Kaikki arvostelut</a>
</p>
{% endblock %}