{% extends "layout.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>

{% if session.user_id == recipe.user_id %}
<p>
  <a href="/edit_recipe/{{ recipe.id }}">Muokkaa</a> |
  <a href="/remove_recipe/{{ recipe.id }}">Poista</a>
</p>
{% endif %}
<p>
  Valmistusaika: {{ recipe.prep_time }} min
{% if classes %}
  <br>
  {% for class in classes %}
    {{ class.title }}: {{ class.value }} <br>
  {% endfor %}
{% endif %}
</p>
<p>
  <h3>Ainekset</h3>
  <ul>
    {% for ingredient in recipe.ingredients.split(";") %}
      <li>{{ ingredient }}</li>
    {% endfor %}
  </ul>
</p>
<p>
    <h3>Ohje</h3>
    {{ recipe.cooking_steps }}
</p>
<p>
  Kirjoittaja: <a href="/user/{{ recipe.user_id }}">{{ recipe.username }}</a>
</p>
<p>
  {% if session.user_id and session.user_id != recipe.user_id %}
    {% if my_review %}
    <hr />
    <h3>Arvostelu</h3>
    <p>
      {{ my_review.comment }}
    <p>
      Arvosana: {{ my_review.grade }}/5
    </p>
    <a href="/remove_review/{{recipe.id}}">Poista</a>
    {% else %}
    <hr />
    <h3>Arvostele</h3>
      <form action="/create_review" method="post">
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
        <p>
          Kommentti: <br />
          <textarea name="comment" rows="8" cols="60" maxlength="1000"></textarea>
        </p>
        <p>
          Arvosana: </br>
          <input type="text" name="grade" size="8" maxlength=1 pattern="^[1-5]$" required />/5
        </p>
        <button type="submit">Lähetä</button>
        <p>
      </form>
    {% endif %}
  {% endif %}
</p>
<p>
  <hr />
  <a href="/reviews/{{ recipe.id }}">Kaikki arvostelut</a>
</p>
{% endblock %}