{% extends "layout.html" %}

{% block title %}{ recipe.title } arvostelut{% endblock %}

{% block content %}
<h2>{{ recipe.title }}</h2>

{% if not reviews %}
  Reseptillä ei ole arvosteluja.
{% else %}
  <p>
  {% if reviews | count == 1 %}
    Reseptillä on 1 arvostelu.
  {% else %}
    Reseptillä on {{ reviews | count }} arvostelua.
  {% endif %}
  </p>
  <h3> Arvostelut </h3>
  <ul>
    {% for review in reviews %}
    <div class="review">
      <p>
        <a href="/user/{{ review.user_id }}">{{ review.username }}</a> ({{ review.sent_at }})
      </p>
      {% if review.comment %}
        <p>{{ review.comment | show_lines }}</p>
      {% endif %}
      Arvosana:
      <span class="rating_stars">
        {% for _ in range(review.rating) %}★{% endfor %}
      </span>
    </div>
    {% endfor %}
  </ul>
{% endif %}
<p>
  <a href="/recipe/{{ recipe.id }}">Takaisin</a>
</p>
{% endblock %}