{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>{{ user.username }}</h2>

<p>
  {% if recipe_count == 1 %}
    Käyttäjällä on 1 resepti.
  {% else %}
    Käyttäjällä on {{ recipe_count }} reseptiä.
  {% endif %}
</p>
{% if recipe_count > 0 %}
  <h3>Reseptit</h3>

<ul>
  {% for recipe in recipes %}
    <div class="section">
    <a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a> <br />
    {% if recipe.rating %}
      Arvosana: {{ recipe.rating }}/5
    {% else %}
      (ei arvosteluja)
    {% endif %}
    </div>
  {% endfor %}
</ul>
{% if recipe_count > 10 %}
<p>
  <a href="/user/{{ user.id }}/{{ page - 1 }}">&lt;&lt;</a>
  Sivu {{ page }}/{{ page_count }}
  <a href="/user/{{ user.id }}/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />
{% endif %}
{% endif %}
{% endblock %}
