{% extends "layout.html" %}

{% block title %}Käyttäjä {{ user.username }}{% endblock %}

{% block content %}
<h2>{{ user.username }}</h2>

<p>
  {% if recipes | count == 1 %}
    Käyttäjä on luonut 1 reseptin.
  {% else %}
    Käyttäjä on luonut {{ recipes | count }} reseptiä.
  {% endif %}
</p>
{% if recipes | count > 0 %}
  <h3>Reseptit</h3>

<ul>
  {% for recipe in recipes %}
    <li><a href="/recipe/{{ recipe.id }}">{{ recipe.title }}</a>
    {% if recipe.rating %}
      ({{ recipe.rating }}/5)
    {% else %}
      (ei arvosteluja)
    {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
